<%- include('./partials/header') %>
    <div id="nav">
      <h1 id="nav-h1">YOUR ACCOMMODATION</h1>
      <a href="/auth/google">LOG IN</a>
    </div>
    <div id="main-section">
      <p>
        <span>All-In-One</span> Rental Solutions! We Provide The Best Home Options For you Where You Can Find the Like-Minded Housemates And Hosts.
        Also, We Guarantee You Free Moving Anywhere In Ontario.
      </p>
    </div>
<%- include('./partials/footer') %>
