*{
  margin: 0px;
  padding: 0px;
}

/* body {
  background-image: url("../../images/img_!.jpeg");
} */

a {
  color: #00B7FF;
}

#nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: antiquewhite;
  height: 8vh;
  width: 99vw;
  padding: 10px;
}

#nav-h1{
  display: inline-block;
}

.homepage-links{
  margin: 10px;
}