*{
  margin: 0px;
  padding: 0px;
}

body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#nav{
  text-align: center;
  background-color: antiquewhite;
  height: 5vh;
  width: 100%;
}

#nav-h1{
  display: inline-block;
}
