*{
  margin: 0px;
  padding: 0px;
}

/* body {
  background-image: url("../images/img_5.jpeg"); */
  /* background-repeat: no-repeat;
  background-size: cover;
} */

a {
  color: #00B7FF;
}

/* #nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: rgb(222, 180, 129);
  height: 8vh;
  width: 99vw;
  padding: 10px;
  opacity: 0.5;
}

#nav-h1{
  display: inline-block;
  color: rgb(106, 6, 6);
  opacity: 100%;
}

#nav a{
  color: rgb(106, 6, 6);
  text-decoration: none;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

#nav a:hover{
  background-color: black;
  color: white;
  border-radius: 4px;
}

.homepage-links{
  margin: 10px;
} */

#list {
  height: 120vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  align-items: center;
  flex-wrap: wrap;
  background-color: black;
}

.list-div{
  height: 285px;
  width: 400px;
  margin: 40px 20px 40px 20px;
  background-color: white;
  border: 2px solid rgb(187, 183, 183);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-div:hover {
  background-color: rgb(150, 146, 146);
  border: 1px solid black;
  color: white;
}

#list-div-div1{
  height: 240px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#list-div-div1-image{
  height: 230px;
  width: 40%;
  margin: 7px 5px 5px 5px;
}

#list-div-div1-image img{
  height: 220px;
  width: 100%;
  border-radius: 15px;
}

#list-div-div1-detail{
  height: 230px;
  width: 55%;
  margin: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

#list-div-div2{
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#list-div-div2 a{
  height: 28px;
  width: 20%;
  text-decoration: none;
  color: white;
  background-color: rgb(91, 91, 238);
  border-radius: 8px;
  text-align: center;
  padding: 10px 3px 0px 3px;
  font-size: 18px;
  margin-bottom: 2px;
}

#list-div-div2 a:hover {
  background-color: white;
  border: 2px solid rgb(91, 91, 238);
  color: rgb(91, 91, 238);
}

p{
  text-align: center;
  font-size: 30px;
  color: rgb(255, 255, 255);
  margin: 20% 10% 0 10%;
}