<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/style_new.css" />
    <link rel="stylesheet" href="/stylesheets/style_nav.css" />
  </head>
  <body>
    <div>
      <nav id="nav">
        <h1 id="nav-h1">YOUR ACCOMMODATION</h1>
        <a href="/auth/google">LOG IN</a>
      </nav>
    </div>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
      Ullam optio quisquam maxime deserunt quod. Tempora, sit et. 
      Debitis quo ratione commodi quidem, beatae ipsa, facilis veniam 
      nostrum quae eveniet non.</p>
  </body>
</html>
