<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->
    <div>
      <nav id="nav">
        <h1 id="nav-h1">YOUR ACCOMMODATION</h1>
        <a href="">LOG IN</a>
      </nav>
    </div>
  </body>
</html>
